*{
    margin: 0;
    padding: 0;
}

#nav {
    font-family: 'Lato', sans-serif;
}

.wrapper{
    height: 80px;
    margin: auto;
    background-color: black;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 100px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 18px;
text-transform: uppercase;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo{
    float: left;
    margin-left: 100px;
}
.logo img{
    width: 100%;
    padding: 17px 0;
}



/*resposive*/

@media (max-width:600px){
    .wrapper {
width: 100%;
}
.logo {
float: none;
width: 50%;
text-align: center;
margin: auto;
}

.nav-area {
float: none;
margin-top: 0;
}
    .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
    .welcome-text {
width: 100%;
height: auto;
margin: 30% 0;

}
    .welcome-text h1 {
font-size: 30px;
}
}